# Virtual environment
venv/
env/
ENV/
.venv/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Django database & local logs
*.log

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
